html{
	font-size: 62.5%;
}
body{
	font-size: 1rem;
}
.clearfix:after{
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}
.displayNone{
 display: none;
}
.wrapper{
	width: 100%;
	min-width: 1200px;
	height: auto;
	background: seashell;
	font-size: 1.4rem;

}
.contentWrapper{
	width: 100%;
	background: seashell;
	min-width: 1200px;
}
.headerWrapper{
	width: 100%;
	background: skyblue;
	min-width: 1200px;
}
.header{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	height: 4rem;
	line-height: 4rem; 
	padding: 1rem 0;
	font-size: 2rem;
	position: relative;
}
.header .logo{
	width: 15%;
	position: absolute;
	left: 0px;
	top: 10px;
	text-align: center;
	vertical-align: middle;
}
.header .logo img{
	width: 100%;
	height: 100%;
}
.header .admin{
	width: 15%;
	position: absolute;
	top: 15px;
	right: 0px;
	cursor: pointer;
	text-decoration: underline;
}
.content{
	width: 1200px;
	margin: 20px auto;
	border: 1px solid skyblue;
	min-height: 400px;
}
.content .navAside{
	width: 90%;
	margin: 0 auto;
	font-size: 2rem;
	color: black;
	text-align: center;
}
.content .navAside .navList{
	width: 100%;
	height: 50px;
	margin: 20px auto;

}
.content .navAside li{
	width: 15%;
	float: left;
	min-width: 15rem;
	height: 4rem;
	line-height: 4rem;
	padding:0 1rem;	
	
}
.liIsActive{
	border-bottom: 0.2rem solid deepskyblue;
}
.content .information{
	width: 90%;
	margin:0px auto ;
}
.content .information .userModule{
	width: 100%;
	padding: 1rem 0;
}

.userTable,.activityTable{
	width: 100%;
	border: 0.1rem solid rgb(0,0,0);
	height: 100%;
}
.userTable tr{
	height: 4rem;
	text-align: center;
	vertical-align: middle;
	border-bottom: 0.1rem solid black;
}
.userTable tr th{
	border: 0.1rem solid black;
}
.userTable tr td{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border: 0.1rem solid black;
}
.userTable tr:nth-child(1){
	width: 10%;
}
.userTable tr:nth-child(2){
	width: 15%;
}
.userTable tr:nth-child(3){
	width: 15%;
}
.userTable tr:nth-child(4){
	width: 25%;
}
.userTable tr:nth-child(5){
	width: 30%;
}
.userTable tr:last-child{
	width: 5%;
	cursor: pointer;
}
.turnPage{
	width: 100%;
	font-weight: bold;
	margin: 20px;
}
.turnPage .prevPage,.turnPage .nextPage{
	display: inline-block;
	width: 49%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	color: deepskyblue;
	font-size: 1.4rem;
	cursor: pointer;
}
/*editModule*/
.editModule{
	width: 90%;
	margin: 0 auto;
}
.editModule .actEdit{
	width: 100%;
	font-size: 1.6rem;
	font-weight: bold;
}
.editModule .actEdit p{
	margin: 1rem auto;
	min-height: 3rem;
}
.editModule .actEdit p input{
	width: 30rem;
	min-height: 3rem;
	font-size: 1.4rem;
	padding: 0.2rem;
	border: 0.1rem solid deepskyblue;
	border-radius: 0.5rem;
}
.spanUpload{
	
}
.editModule .actEdit .upload .uploadImg{
	
}
#type{
	width: 8rem;
	height: 2rem;
	line-height: 2rem;
	border: 0.1rem solid deepskyblue;
	border-radius: 0.5rem;
	outline: none;
}
#title{
	
}
.editModule .actEdit #article{
	display: block;
	width: 95%;
	margin: 1rem 2.5%;
	font-size: 1.4rem;
	min-height: 10rem;
	line-height: 2rem;
	padding: 1%;
	border: 0.1rem solid deepskyblue;
	border-radius: 0.5rem;
}
.conEdit{
	width: 50%;
	height: 3rem;
	line-height: 3rem;
	margin-left: 25%;
	color: white;
	font-size: 1.6rem;
	font-weight: bold;
	outline: none;
	background: deepskyblue;
	border: 0.1rem solid deepskyblue;
	border-radius: 0.5rem;
}
/*活动信息表格*/
.activityTable tr{
	height: 4rem;
	text-align: center;
	vertical-align: middle;
	border-bottom: 0.1rem solid black;
}
.activityTable tr th{
	border: 0.1rem solid black;
}
.activityTable tr td{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border: 0.1rem solid black;
}
.activityTable tr:nth-child(1){
	width: 10%;
}
.activityTable tr:nth-child(2){
	width: 15%;
}
.activityTable tr:nth-child(3){
	width: 15%;
}
.activityTable tr:nth-child(4){
	width: 25%;
}
.activityTable tr:nth-child(5){
	width: 30%;
}
.activityTable tr:last-child{
	width: 5%;
	cursor: pointer;
}