html{
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}
body{
	width: 100%;
	height: 100%;
	font-size: 1rem;
}
.clearfix:after{
	display: block;
	content: "";
	clear: both;
	height: 0;
	visibility: hidden;
}
.bodyWrap{
	width: 100%;
	height: 100%;
	position: relative;
	background: url(../../img/loginbg.jpg) no-repeat center center;
	background-size: 100% 100%;
} 
.header{
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	background: rgba(0,0,0,0.5);
	color: deepskyblue;
	font-size: 1.6rem;
}
.header h1{
	display: inline-block;
	width: 70%;
	text-align: right;
}
.index{
	display: inline-block;
	width: 20%;
	color: skyblue;
	height: 100%;
	font-size: 1.6rem;
	font-weight: bold;
	text-align: right;
	text-decoration: underline;
}
.userLogin{
	width: 30rem;
	padding: 2rem;
	background: rgba(0,0,0,0.6);
	position: absolute;
	left:50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 1.6rem;
	border-radius: .5rem;
}
.dl{
	width: 100%;
	margin: 0 auto;
	font-size: 1.4rem;
	color: wheat;
}
.dl .goReg{
	display: inline-block;
	width: 100%;
	text-align: right;
	color: rgb(225,58,104);
}
.userName,.userPwd{
	margin: 1rem auto;
	font-size: 1.6rem;
	color:white;
}
#userName,#userPwd{
	width: 20rem;
	padding-left:.5rem ;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.4rem;
	border-radius: .3rem;
}
.prompt{
	width: 80%;
	margin: .5rem auto;
	padding: .5rem;
	color: red;
}
.remember{
	width: 100%;
	font-size: 1rem;
	margin: .5rem auto;
	color: white;
}
.remember a{
	color: sandybrown;
	text-decoration: underline;
}
#remb{
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .5rem;
	color: salmon;
	margin-right: .5rem;
}
.remember .remb-left,.remember .remb-right{
	width: 50%;
	float: left;
}
.remb-right{
	text-align: right;
}
#userLogin{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	color: white;
	font-size: 1.6rem;
	font-weight: 600;
	border: none;
	border-radius: .5rem;
	background: deepskyblue;
	outline: none;
	margin-top: 1.5rem;
}
#userLogin:hover{
	background: #CCCCCC;
	color: deepskyblue;
}
#userLogin:active{
	background: red;
}
/*遮罩层*/
.hideIt{
	display: none;
}
.shadeBox{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 90;
	background: rgba(255,255,255,0.5);
}
.warning{
	width: 40%;
	height: 40%;
	text-align: center;
	position: absolute;
	left: 30%;
	top: 30%;
	z-index: 99;
	background:rgba(0,0,0,0.8);
	border-radius: 0.5rem;
	color: deepskyblue;
}
.warning .que{
	width: 100%;
	height: 15rem;
	line-height: 15rem;
	font-size: 1.4rem;
	text-align: center;
}
.warning .Ok,.no{
	display: inline-block;
	width: 30%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	font-size: 1.2rem;
	background: deepskyblue;
	color: white;
	border-radius: 0.5rem;
	cursor: pointer;
}
.warning .no{
	margin-left: 2rem;
}
.warning .Ok:hover,.no:hover{
	background: white;
	color: deepskyblue;
}
