.content{
	width: 100%;
	height: auto;
	padding: 1rem 0;
	background:rgba(0,0,0,0.9);
	color: white;
}
.person{
	widows: 100%;
	margin: 0 auto;
}
.perInfo{
	width: 100%;
	height: 30rem;
	padding:1rem 5%;
	position: relative;
	margin: 0 auto;
	background: url(../../img/index/tu1.jpg) no-repeat;
	background-size: 100% 100%;
}
.perInfo .changeBg{
	text-align: right;
	font-size: 1.2rem;
	height: 2rem;
	line-height: 2rem;
	color: salmon;
}
.chBg{
	font-size: 1.6rem;
}
.changeBg:hover{
	cursor: pointer;
	color: deepskyblue;
}
.changeBg:hover .chBg{
	color: deepskyblue;
}
.bgPic{
	width: 40%;
	height: 4rem;
	position: absolute;
	top: 4rem;
	right: 2rem;
	border: 0.1rem solid white;
	background: wheat;
}
.hideImg{
	display: none;
}
.bgPic ul{
	width: 100%;
}
.bgPic ul li{
	float: left;
	width: 19%;
	height: 4rem;
	margin: 0 0.2rem;
}
.bgPic ul li img{
	width: 100%;
	height: 100%;
	border: 0.1rem solid aquamarine;
	cursor: pointer;
}
.perInfo .perImg{
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	margin: 0 auto;
	border: .1rem solid #CCCCCC;
}
.perInfo .perImg img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.perInfo .perName{
	font-size: 2rem;
	font-weight: bold;
	color: wheat;
	text-align: center;
	padding:.5rem 0 ;
}
.quit{
	font-size: 1.2rem;
	text-align: right;
	color: deepskyblue;
}
.perExplain{
	width: 60%;
	margin: 0 auto;
	color: wheat;
	text-align: center;
	padding:.5rem 0 ;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.perContent{
	width: 90%;
	margin: 3rem auto;
	padding: 1rem 0;
	min-height: 45rem;
}
.perContent .perNav{
	width: 15%;
	float: left;
	
}
.perContent .perNav li{
	width: 100%;
	height: 3rem;
	font-size: 1.8rem;
	border-right: 0.1rem solid white;
}
.perContent .perNav li i{
	position: absolute;
	right: -0.4rem;
	bottom: 0.1rem;
	color: white;
	font-size: 1.8rem;
}
.liColor{
	color: deepskyblue;
	font-size: 2.4rem;
}
.perContent .perNav li i.ionColor{
	position: absolute;
	right: -0.4rem;
	color: deepskyblue;
	font-size: 2.4rem;
}
#myCmts,#myFollows,#perSetting,#festival{
	position: relative;
	border-right: none;
	text-align: center;
	line-height: 3rem;
	font-size: 1.6rem;
	font-family: "微软雅黑";
	cursor: pointer;
}
.perContent .myCmts{
	width: 80%;
	float: right;
	border: 0.1rem solid deepskyblue;
}
.perContent .myCmts .cmtsList{
	width: 100%;
}
.cmtsList li{
	height: 4rem;
	line-height: 4rem;
	border-bottom: 0.1rem dashed deepskyblue;
}
.myCmts .loadMore{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 1rem auto;
}
.perContent .myCmts .cmtsList .cmtTitle,.cmtContent,.cmtTime{
	display: block;
	float: left;
	text-align: center;
}
.liTitle{
	height: 3rem;
	line-height: 3rem;
	font-weight: bold;
	font-size: 1.6rem;
}
.cmtTitle,.cmtContent,.cmtTime{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.cmtTitle,.cmtTime{
	width: 20%;
}
.cmtContent{
	width: 50%;
}
.cmtDel{
	width: 10%;
	cursor: pointer;
	text-align: center;
}
.cmtDel:hover{
	color: salmon;
}

.followList{
	width: 100%;
}
.myFollows,.perSetting{
	width: 80%;
	float: right;
	border: 0.1rem solid deepskyblue;
	
}
.perSetting{
	background: wheat;
}
.disUserName{
	height: 4rem;
	line-height: 4rem;
	padding: 0 0.5rem;
	border-radius: 0.3rem;
}
.changePsw{
	margin: 10px auto;
	padding-left: 1rem;
}
.myFollows .followList li{
	width: 46%;
	float: left;
	text-align: left;
	border: 0.1rem dashed deepskyblue;
	margin: 1rem 2%;
}
.myFollows img{
	display:inline-block;
	width: 10rem;
	height: 10rem;
	margin: 1rem 1rem;
}
.myFollows .actName{
	display:inline-block;
	width: 60%;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.myFollows .lookMore{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 1rem auto;
}
.perSetting{
	width: 80%;
	padding: 1rem 2%;
}
.perSetting .revisePwd{
	width: 50%;
	padding: 0.5rem 5%;
	margin: 0.5rem auto;
	border: 0.1rem dashed #D0E69C;
	font-weight: bold;
	color: black;
}
#oriPwd,#revisePwd{
	display: block;
	width: 20rem;
	height: 2rem;
	line-height: 2rem;
	padding:0.5rem;
	margin: 1rem 0.5rem;
	border: 0.1rem solid rgba(0,0,0,0.6);
}
.perMood{
	width: 100%;
}
.perMood #perMood{
	display: block;
	width: 90%;
	height: 3rem;
	margin: 0.5rem auto;
	padding: 1rem;
	border: 0.1rem solid rgba(0,0,0,0.6);;
}
.conBtns{
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	margin: 1rem auto;
}
.confirBtn,.cancelBtn{
	width: 5rem;
	height: 3rem;
	background: deepskyblue;
	color: white;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 0.5rem;
	margin: 0 2rem;
}
